html,
* {
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white;
}
body {
	margin: 0;
	overflow-x: hidden;
	background: #201b3d;
	box-sizing: border-box;
	padding: 0 50px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

@media screen and (max-width: 400px) {
	body {	padding: 0 20px;
	}
}